$color_1: #707070;
header {
    .logo {
        padding-left: 60px;
        margin-left: 19px;
    }
    .nav_link_main {
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        text-decoration: none;
        padding: 20px;
        list-style: none;s
        margin-top: 5px;
        margin-right: 130px;
        >a {
            &:link {
                text-decoration: none;
                margin-right: 10px;
            }
            padding: 3px;
            color: $color_1;
        }
    }
	border-style: outset;
    height: 70px;
}
.horizantalimage {
	display: inline-flex;
	list-style-type: none;
	margin-top: 124px;
	margin-left: -63px;
	li {
		img {
			padding-left: 106px;
			width: 130px;
			height: 80px;
		}
	}
}
.great_section {
    .wine {
        width: 400px;
        padding: 10px;
        letter-spacing: 0px;
        color: $color_1;
        margin-left: 20px;
        margin-top: 22px;
        line-height: 1.5;
        font-size: smaller;
    }
	 img {
		width: 450px;
		height: 237px;
		margin-top: 45px;
		margin-left: 69px;
	}
	display: flex;
	margin-left: 21px;
}
.last {
    display: flex;
	margin-top: 105px;
    .coffe {
        .one{
            width: 300px;
        }
        padding: 30px;
        color: $color_1;
        margin-left: 40px;
        img {
            width: 300px;
        }   
    }
    .pizza {
        .two{
            width: 300px;
        }
        padding: 30px;
        color: $color_1;
        margin-left: 40px;
        img {
            width: 300px;
        }
        
    }
    .burger {
        .three{
            width: 300px;
        }
        padding: 30px;
        color: $color_1;
        margin-left: 40px;
        img{
            width: 300px;
        }   
    }
    #food {
        line-height: 1.5;
        font-size: smaller;
    }	
}
