$mycolor:red;
nav{
    h2{
        color: $mycolor;
    }
    ul{
        border: 2px outset green;
        text-align: right;
        border-radius: 25px;
        width:auto;
        height: 50px;
        border-bottom: 2px dotted red;   
    }
    li{
        display: inline-block;
    }
    a{
        text-decoration: none;
        display: block;
        padding: 25px 25px;
        
    }


}


