@mixin horizontal_main {
    display: inline-flex;
    list-style-type: none;
    margin-top: 124px;
    margin-left: -63px;
}

@mixin horizontal_image {
    padding-left: 106px;
    width: 130px;
    height: 80px;
}

@mixin wine {
    width: 400px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 22px;
    line-height: $food_line;
    font-size: $food_size;
}

@mixin wine_image {
    width: 450px;
    height: 237px;
    margin-top: 45px;
    margin-left: 69px;
}

@mixin border {
    float: right;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-decoration: none;
    padding: 20px;
    list-style: none;
    margin-top: 5px;
    margin-right: 130px;
}

@mixin logo {
    padding-left: 60px;
    margin-left: 19px;
}