$color1: #707070;
$margin_of_coffe: 40px;
$width_of_last: 300px;
$food_line: 1.5;
$food_size: smaller;
$background_color_border: #FFFFFF 0% 0% no-repeat padding-box;
$style_border: outset;
$flex: flex;
$width_of_image: 313px;
$margin_left: 21px;
