.one {
    background-color: papayawhip;
    width: 350px;
    margin-top: 30px;
}

.two {

    width: 350px;
    background-color: papayawhip;
    margin-top: 30px;
}

.three {
    background-color: papayawhip;
    width: 350px;
    margin-top: 30px;
}

.main {
    margin-top: 30px;
}

.mini {
    /* to chnage the fixed or stiky or static */
    position: sticky;
    background-color: brown;
    color: white;
    width: 350px;
    top: 0px;
}