body {
    background: url(./5.image/tree-736885__480.jpg) no-repeat fixed;
    background-size: cover;
    opacity: 0.4;
}

body:hover {
    opacity: 1.0;
}

h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
}

p {
    color: white;
    border-style: groove ridge inset outset;
    border-color: chartreuse red yellow blue;
    margin-left: 300px;
    border-width: 20px;
    width: 600px;
}

#different {
    cursor: progress;
}