* {
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
}

body .section_header {
  color: #2E2E2E;
  opacity: 1;
}
body header {
  background: url(./assets/image/header-bg.png);
  background-repeat: no-repeat;
  background-size: 1394px 633px;
  height: 665px;
  width: 1350px;
}
body header .check_button {
  font-size: 13px;
  background-color: #2E2E2E;
}
body header .login_button p {
  color: #2E2E2E;
}
body header ::-moz-placeholder {
  color: black;
  opacity: 1;
}
body header :-ms-input-placeholder {
  color: black;
  opacity: 1;
}
body header ::placeholder {
  color: black;
  opacity: 1;
}
body main {
  /* section1 */
  /* section2 */
  /* section3 */
  /* section4 */
  /* section5 */
}
body main .web_secure .secure_informations {
  color: #2E2E2E;
}
body main .web_secure .secure_informations .about_secure p {
  width: 420px;
  font-size: 15px;
  margin-left: 27px;
  font-size: 12px;
  color: #2E2E2E;
  opacity: 1;
  margin-top: 10px;
}
body main .web_secure .secure_informations .about_secure h2 {
  width: 190px;
  margin-left: 25px;
  color: #2E2E2E;
  opacity: 1;
  font-weight: 600;
  font-size: small;
}
body main .web_secure .secure_informations .about_secure .secure_care .combine_tool .spaner_box {
  position: relative;
}
body main .web_secure .secure_informations .about_secure .secure_care .combine_tool .spaner {
  position: absolute;
  margin-top: 14px;
  margin-left: 8px;
}
body main .web_secure .secure_informations .analysis_image {
  width: 800px;
  height: 427px;
}
body main .web_build {
  background-color: #F7F8FF;
  opacity: 1;
}
body main .web_build .build_website, body main .web_build .website_servion {
  background-color: #93A5FF;
  opacity: 1;
  width: 530px;
  height: 260px;
}
body main .web_build .build_website p, body main .web_build .website_servion p {
  margin-left: 19px;
  font-size: small;
  width: 460px;
  margin-top: 10px;
  line-height: 25px;
}
body main .web_build .build_website button img, body main .web_build .website_servion button img {
  filter: sepia(100%) hue-rotate(90deg) saturate(900%);
}
body main .web_build .website_servion {
  background-color: #FF0000;
  opacity: 1;
}
body main .web_host .types_host {
  color: #2E2E2E;
}
body main .web_host .types_host .vps_host {
  height: 500px;
}
body main .web_host .types_host .vps_host button {
  background-color: #FF0000;
}
body main .valued_customers {
  background-color: #F7F8FF;
  opacity: 1;
  height: 400px;
}
body main .valued_customers .customers_feedback {
  color: #2E2E2E;
}
body main .valued_customers .circle {
  background-color: #FF0000;
  border-radius: 50%;
  display: inline-block;
}
body main .clients_services button {
  background-color: #FF0000;
}
body main .clients_services .clients_header h2 {
  color: #2E2E2E;
}
body main .clients_services .clients_header p {
  color: #434343;
}
body main .clients_services .management_software .secure_task img {
  width: 70px;
  height: 57px;
}
body main .clients_services .management_software .secure_task h2 {
  font-weight: bold;
  font-size: 16px;
  color: #1E1C24;
  margin-top: 5px;
}
body main .clients_services .management_software .secure_task p {
  color: #B1AAAA;
  width: 170px;
  font-weight: bold;
  font-size: 9px;
  text-align: center;
  margin-top: 10px;
}
body main .clients_services .quality_services p {
  color: #7C7C7C;
}
body main .clients_services .quality_services h3 {
  color: #1D1D1D;
}
body main .clients_services .quality_services .circle2 {
  background-color: #FF0000;
  border-radius: 50%;
  display: inline-block;
}
body footer {
  background-image: url(./assets/image/footer_bg.png);
  background-repeat: no-repeat;
  background-size: 1410px 633px;
  height: 500px;
  width: 1350px;
}

/* medai-query */
/* mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body header {
    background: none;
    background-color: #93A5FF;
    height: 400px;
    width: auto;
  }
  body header .nav_logo img {
    margin: 5px;
  }
  body header .nav_bar .login_button {
    margin: 0px;
  }
  body header .nav_bar nav {
    margin-left: 0%;
  }
  body header .nav_bar nav ul {
    display: block;
    margin-top: 31px;
    text-align: -webkit-center;
  }
  body header .nav_bar nav ul li {
    padding-bottom: 7px;
  }
  body header .web_hosting {
    margin: 0px;
  }
  body header .web_hosting h1 {
    font-size: 16px;
    text-align: center;
  }
  body header .web_hosting p {
    font-size: 12px;
    text-align: center;
  }
  body header .web_hosting .overall_button {
    margin: 0px 2px;
  }
  body header .web_hosting .overall_button .search_button button {
    padding: auto;
    font-size: 10px;
  }
  body header .web_hosting .overall_button .search_button .domain_name {
    width: auto;
    font-size: 10px;
    padding: auto;
  }
  body header .web_hosting .overall_button .check_button {
    width: auto;
    margin: auto;
  }
  body header .web_hosting .overall_button .check_button span {
    font-size: 6px;
  }
  body main {
    /* section1 */
    /* section2 */
    /* section3 */
    /* section4 */
    /* section5 */
  }
  body main .web_secure .section_header h2 span {
    font-size: 15px;
  }
  body main .web_secure .section_header p {
    font-size: 13px;
  }
  body main .web_secure .secure_informations {
    margin-left: 0px;
    display: block;
  }
  body main .web_secure .secure_informations .about_secure .secure_care {
    display: block;
  }
  body main .web_secure .secure_informations .about_secure .secure_care .combine_tool {
    justify-content: center;
  }
  body main .web_secure .secure_informations .about_secure .secure_care .combine_tool .spaner_box {
    margin: auto;
  }
  body main .web_secure .secure_informations .about_secure .secure_care .combine_tool .spaner {
    width: 36px;
    margin-left: 1px;
  }
  body main .web_secure .secure_informations .about_secure .secure_care p {
    width: auto;
    text-align: center;
  }
  body main .web_secure .secure_informations .about_secure .secure_care h2 {
    margin: auto;
    text-align: center;
  }
  body main .web_secure .secure_informations .about_secure .tweak_secure {
    display: block;
  }
  body main .web_secure .secure_informations .about_secure .tweak_secure p {
    width: auto;
    text-align: center;
  }
  body main .web_secure .secure_informations .about_secure .tweak_secure h2 {
    margin: auto;
    text-align: center;
  }
  body main .web_secure .secure_informations .about_secure .tweak_secure img {
    margin: auto;
  }
  body main .web_secure .secure_informations .about_secure .best_secure {
    display: block;
  }
  body main .web_secure .secure_informations .about_secure .best_secure p {
    width: auto;
    text-align: center;
  }
  body main .web_secure .secure_informations .about_secure .best_secure h2 {
    margin: auto;
    text-align: center;
  }
  body main .web_secure .secure_informations .about_secure .best_secure img {
    margin: auto;
  }
  body main .web_secure .secure_informations .analysis_image {
    width: 399px;
    height: 258px;
  }
  body main .web_build .section_header h2 span {
    font-size: 15px;
  }
  body main .web_build .section_header p {
    font-size: 13px;
  }
  body main .web_build .types_web_build {
    display: block;
    margin: auto 20px;
  }
  body main .web_build .types_web_build .build_website, body main .web_build .types_web_build .website_servion {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
  body main .web_build .types_web_build .build_website h2, body main .web_build .types_web_build .website_servion h2 {
    margin-top: 0px;
    font-size: small;
  }
  body main .web_build .types_web_build .build_website p, body main .web_build .types_web_build .website_servion p {
    width: auto;
    font-size: x-small;
    line-height: 15px;
  }
  body main .web_build .types_web_build .build_website .clouds_image, body main .web_build .types_web_build .website_servion .clouds_image {
    width: 100px;
    margin-left: auto;
  }
  body main .web_build .types_web_build .build_website button, body main .web_build .types_web_build .website_servion button {
    margin: auto;
    padding: 0px;
    height: 20px;
  }
  body main .web_build .types_web_build .build_website button span, body main .web_build .types_web_build .website_servion button span {
    font-size: x-small;
  }
  body main .web_build .website_servion .multiple_logo {
    margin-left: auto;
    width: 110px;
  }
  body main .web_host {
    box-shadow: none;
    width: auto;
  }
  body main .web_host .section_header h2 span {
    font-size: 15px;
  }
  body main .web_host .section_header p {
    font-size: 13px;
  }
  body main .web_host .types_host {
    display: table;
    margin: auto;
  }
  body main .web_host .types_host .share_host {
    margin-bottom: 50px;
  }
  body main .web_host .right_dotted {
    display: none;
  }
  body main .valued_customers {
    width: auto;
    height: auto;
    background: none;
  }
  body main .valued_customers .section_header h2 span {
    font-size: 13px;
  }
  body main .valued_customers .section_header p {
    font-size: 13px;
  }
  body main .valued_customers .feedback_container {
    display: block;
  }
  body main .valued_customers .feedback_container .customers_feedback {
    display: block;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback {
    display: block;
    width: auto;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback .lessthens {
    display: none;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback .star_image {
    margin: auto;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback .erich_profile {
    margin: 0px auto;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback .feedback_content {
    padding: 0%;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback .feedback_content p {
    text-align: center;
    margin: 0px;
    width: auto;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback .feedback_content .customers_name {
    margin: 0px;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback {
    display: block;
    width: auto;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback .emily_profile {
    margin: 0px auto;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback .star_image {
    margin: auto;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback .feedback_content {
    padding: 0%;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback .feedback_content p {
    text-align: center;
    margin: 0px;
    width: auto;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback .feedback_content .customers_name {
    margin: 0px;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback .greaterthens {
    display: none;
  }
  body main .valued_customers .circles {
    display: none;
  }
  body main .valued_customers .left_dotted {
    display: none;
  }
  body main .clients_services .clients_header h2 span {
    font-size: 15px;
  }
  body main .clients_services .clients_header p {
    font-size: 13px;
  }
  body main .clients_services .our_clients {
    display: grid;
    row-gap: 10px;
  }
  body main .clients_services .section_header h2 {
    text-align: center;
    width: auto;
    font-size: 11px;
  }
  body main .clients_services .section_header p {
    font-size: 13px;
    margin: auto;
    width: auto;
  }
  body main .clients_services .management_software {
    display: grid;
  }
  body main .clients_services .management_software img {
    margin: auto;
  }
  body main .clients_services .quality_services .secure_safe {
    display: grid;
  }
  body footer {
    margin-left: 0px;
    margin-right: 0px;
    background: none;
    background-color: #93A5FF;
    width: auto;
    height: auto;
  }
  body footer .more-informations-site {
    display: block;
    text-align: center;
  }
  body footer .more-informations-site nav {
    margin-top: 30px;
    font-size: 20px;
  }
  body footer .more-informations-site .we_accept {
    margin-top: 10px;
  }
  body footer .more-informations-site .we_accept .online_pay {
    display: table;
    margin: auto;
  }
  body footer .coppy_rights .name_branch {
    margin: auto 0px;
  }
  body footer .coppy_rights .name_branch img {
    width: 60px;
  }
  body footer .coppy_rights .name_branch p {
    font-size: 8px;
  }
  body footer .coppy_rights .media_terms {
    margin: 0px;
  }
  body footer .coppy_rights .media_terms .social_media {
    margin-left: 0px;
  }
  body footer .coppy_rights .media_terms .social_media img {
    width: 15px;
  }
  body footer .coppy_rights .media_terms .terms_service span {
    display: none;
  }
  body footer .coppy_rights .media_terms .terms_service p {
    font-size: 7px;
    width: 64px;
    margin-left: 0px;
  }
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 768px) {
  body {
    max-width: 753px;
  }
  body header {
    background-size: 776px 355px;
    height: 377px;
    width: auto;
  }
  body header .nav_bar {
    margin: 0px 20px;
  }
  body header .nav_bar .nav_logo img {
    width: 80px;
    height: 20px;
    margin-top: 22px;
    margin-left: 22px;
  }
  body header .nav_bar .login_button {
    margin-left: 30px;
    margin-top: 14px;
    margin-right: 0px;
  }
  body header .nav_bar nav {
    margin-left: 81px;
    margin-top: 10px;
    margin-right: 0px;
  }
  body header .nav_bar nav ul {
    margin-top: 12px;
  }
  body header .nav_bar nav ul li a {
    padding-right: 20px;
  }
  body header .web_hosting {
    margin-top: 70px;
    margin-left: 109px;
  }
  body header .web_hosting h1 {
    font-size: 23px;
  }
  body main {
    /* section1 */
    /* section2 */
    /* section3 */
    /* section4 */
    /* section5 */
  }
  body main .web_secure .secure_informations {
    display: inline-block;
  }
  body main .web_secure .secure_informations .secure_care .spaner_box {
    width: 48px;
  }
  body main .web_secure .secure_informations .analysis_image {
    width: 510px;
    height: 330px;
  }
  body main .web_build .types_web_build {
    display: inline-block;
    margin-top: 50px;
    padding-left: 30px;
  }
  body main .web_build .types_web_build .website_servion {
    margin-top: 28px;
  }
  body main .web_host .types_host {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 80px;
  }
  body main .web_host .types_host .vps_host {
    margin-bottom: 10px;
  }
  body main .web_host .types_host .cloud_host {
    margin-top: -85px;
  }
  body main .web_host .right_dotted {
    margin-left: 588px;
  }
  body main .valued_customers .customers_feedback {
    display: inline-block;
  }
  body main .valued_customers .customers_feedback .erich_feedback {
    margin-left: 153px;
    margin-top: -25px;
  }
  body main .valued_customers .customers_feedback .erich_feedback .lessthens {
    display: none;
  }
  body main .valued_customers .customers_feedback .emily_feedback {
    margin-left: 153px;
    margin-top: 25px;
  }
  body main .valued_customers .customers_feedback .emily_feedback .greaterthens {
    display: none;
  }
  body main .valued_customers .customers_feedback .emily_feedback .emily_profile {
    margin-left: 14px;
  }
  body main .valued_customers .circles {
    display: none;
  }
  body main .clients_services .section_header P {
    margin-left: 0px;
  }
  body main .clients_services .our_clients {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  body footer {
    background: none;
    background-color: #FF0000;
    height: auto;
    width: 753px;
  }
  body footer .more-informations-site {
    display: grid;
  }
  body footer .more-informations-site nav {
    margin-top: 30px;
    text-align: center;
  }
  body footer .more-informations-site .we_accept {
    margin-top: 10px;
    text-align: center;
  }
  body footer .more-informations-site .we_accept .online_pay {
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
  body footer .coppy_rights {
    justify-content: center;
    gap: 150px;
  }
}
/* ipad */
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  body header {
    width: auto;
    background-size: 1040px 500px;
  }
  body header .nav_bar .nav_logo img {
    margin-left: 48px;
  }
  body header .nav_bar nav {
    margin-left: 321px;
  }
  body header .nav_bar nav ul li a {
    padding-right: 16px;
  }
  body header .nav_bar .login_button {
    margin-right: 32px;
  }
  body header .web_hosting {
    margin-left: 48px;
  }
  body main {
    /* section1 */
    /* section2 */
    /* section3 */
    /* section4 */
    /* section5 */
  }
  body main .web_secure {
    margin: auto 0px;
  }
  body main .web_secure .secure_informations .about_secure {
    margin-left: -31px;
  }
  body main .web_secure .secure_informations .about_secure .secure_care .secure_content {
    width: 0px;
  }
  body main .web_secure .secure_informations .about_secure .secure_care .spaner_box {
    width: 47px;
  }
  body main .web_secure .secure_informations .analysis_image {
    width: 448px;
  }
  body main .web_build .types_web_build {
    margin-left: 58px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body main .web_build .types_web_build #build_website {
    width: 435px;
  }
  body main .web_build .types_web_build #build_website .clouds_image {
    width: 112px;
    margin-left: 241px;
  }
  body main .web_build .types_web_build #build_website p {
    width: 435px;
  }
  body main .web_build .types_web_build #build_website button {
    margin-left: 179px;
    margin-top: -20px;
    height: 36px;
  }
  body main .web_build .types_web_build .website_servion {
    width: 435px;
  }
  body main .web_build .types_web_build .website_servion .multiple_logo {
    margin-left: 200px;
  }
  body main .web_build .types_web_build .website_servion p {
    width: 435px;
  }
  body main .web_build .types_web_build .website_servion button {
    margin-left: 179px;
    margin-top: -20px;
    height: 36px;
  }
  body main .web_host .types_host {
    margin: auto 50px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  body main .web_host .right_dotted {
    margin-left: 812px;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback .erich_profile {
    margin-left: 24px;
  }
  body main .valued_customers .feedback_container .customers_feedback .erich_feedback .lessthens {
    margin-left: -2px;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback {
    margin-right: 20px;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback #rating_content {
    margin-top: 40px;
  }
  body main .valued_customers .feedback_container .customers_feedback .emily_feedback .greaterthens {
    margin-right: 8px;
  }
  body main .clients_services .section_header .sodales {
    margin: auto;
  }
  body footer {
    width: auto;
  }
  body footer .more-informations-site {
    justify-content: space-around;
    margin-left: 10px;
  }
  body footer .coppy_rights {
    justify-content: space-between;
  }
  body footer .coppy_rights .name_branch {
    margin-left: 45px;
  }
  body footer .coppy_rights .media_terms {
    margin-right: 32px;
  }
}/*# sourceMappingURL=webpage.css.map */